<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create new Event</title>
    <link th:replace="~{layouts/layout::link}">
</head>

<body th:replace="~{layouts/layout::body}">

    <div class="content" th:fragment="content">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">Create new event</div>
                <div class="card-body">
                    <form class="needs-validation" th:action="@{/events/create}" th:object="${eventForm}" method="POST"
                        enctype="multipart/form-data" accept-charset="utf-8">
                        <div class="row g-2">
                            <div class="mb-3 col-md-6">
                                <label for="Title" class="form-label">Title</label>
                                <input type="text" class="form-control" th:field="*{title}" name="Title"
                                    placeholder="Title" required>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="Subtitle" class="form-label">Subtitle</label>
                                <input type="text" th:field="*{subtitle}" class="form-control" name="Subtitle"
                                    placeholder="Subtitle" required>
                            </div>
                        </div>

                        <div class="row g-2">
                            <div class="mb-3 col-md-6">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" th:field="*{adress}" name="address"
                                    placeholder="1234 Main St, Unit, Building, or Floor" required>
                            </div>
                            <div class="mb-3 col-md-3">
                                <label for="Capacity" class="form-label">Capacity</label>
                                <input type="number" class="form-control" name="Capacity" th:field="*{capacity}"
                                    required>
                            </div>
                            <div class="mb-3 col-md-3">
                                <label for="Date" class="form-label">Date</label>
                                <input type="date" class="form-control" name="Date" th:field="*{date}"
                                    placeholder="YYYY-MM-DD HH:MM:SS" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="Description" class="form-label">Description</label>
                            <div class="form-floating">
                                <textarea class="form-control" th:field="*{description}"
                                    placeholder="Leave a comment here" id="floatingTextarea2"
                                    style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Description</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group mb-3">
                                <input type="file" name="file" class="form-control" id="inputGroupFile01">
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="submit" class="btn btn-primary" value="Create now">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>