<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Users</title>
    <link th:replace="~{layouts/layout::link}">
</head>

<body th:replace="~{layouts/layout::body}">
    <div class="container" th:fragment="content">
        <div class="page-title">
            <h3>Users
                <a th:href="@{/users/create}" class="btn btn-sm btn-outline-primary float-end"><i
                        class="fas fa-user-shield"></i>
                    Add users</a>
            </h3>
        </div>
        <div class="box box-primary">
            <div class="box-body">
                <table width="100%" class="table table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user:${users}">
                            <!--Display username-->
                            <td th:text="${user.username}">/td>
                                <!--Display email-->
                            <td th:text="${user.email}"></td>
                            <!--Display role-->
                            <td th:text="${user.role}"></td>
                            <!--Display status-->
                            <td>Active</td>
                            <td class="text-end">
                                <div class="row ">
                                    <div class="col-md-2 offset-md-6 p-2">
                                        <form th:action="@{|/${user.id}/update|}" method="get">
                                            <input type="submit" class="btn btn-primary " value="Edit">
                                            </input>
                                        </form>
                                    </div>
                                    <div class="col-md-2 p-2">
                                        <form th:action="@{|/${user.id}/delete|}" method="post">
                                            <input type="submit" class="btn btn-danger" value="Delete"></input>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${currentPage==0?'disabled':''}">
                        <a class="page-link" th:href="@{|/users?page=${currentPage-1}|}" tabindex="-1"
                            aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item" th:each="index: ${#numbers.sequence(0,totalPages -1)}"
                        th:classappend="${currentPage==index ?'active':''}"><a class="page-link"
                            th:href="@{|/users?page=${index}|}" th:text="${index+1}"></a></li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{|/users?page=${currentPage+1}|}"
                            th:classappend="${currentPage== totalPages -1?'disabled':''}">Next</a>
                    </li>
                </ul>
            </div>

        </div>



    </div>
</body>

</html>